body, html {
    height: 100%;
    overflow: hidden;
}

body.home {
	background-color: #464545;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #464545;

}

.list-group-item:first-child {
	border-top-width: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}    

.list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}   

.list-group-item {
	padding: 20px 15px;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	background-color: #464545;
	border-bottom: solid 1px rgb(65, 65, 65);

  	-moz-box-shadow:    0px 0px 1px 0px #383838;
  	-webkit-box-shadow: 0px 0px 1px 0px #383838;
  	box-shadow:         0px 0px 1px 0px #383838;
}

.navbar-default .navbar-nav > li > a {
	color: #C9C7C7;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: rgb(49, 49, 49);
	color: rgb(124, 124, 124);
}

.navbar-default .navbar-nav > li > a.dropdown-toggle:hover {
	color: #9E9B9B;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	color: #E9E9E9;
	background-color: #428bca;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #9E9B9B;
	background-color: #313131;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #313131;
}

.list-group-item {
	padding: 0px;
}

.list-story {
	display: block;
}

.navbar-toggle {
	border: none;
}

.main-content {
	padding-top: 50px;
	height: 100%;
	max-width: 100%;
	margin-left: 0;
}

.scroll-con {
	height: 100%;
	overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
}

.media-object {
	width: 100%;
}

.list-story-content {
	padding: 20px;
}

.list-story-content:hover, #load-more:hover{
	background-color: #D6E3EE;
	cursor: pointer;
}

#current-story-content img {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

#current-story-content ul {
	display: none;
}

#current-story-content {
	margin-top: 20px;
}

#current-story-title {
	margin-top: 0;
}

#current-story {
	padding: 15px;
}

#current-story-con {
	border-left: solid 0px rgb(216, 216, 216);
	padding: 0;
}

.list-story .active{
	background-color: rgb(236, 236, 236);
	opacity: 0.45;
}

#current-story-link:hover {
	text-decoration: none;
	color: #428bca;
}

#current-story-link {
	color: #333333;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #464545;
}

.footer-content {
	padding: 12px;
}

::-webkit-scrollbar {
    width: 12px;
    border-left: 1px solid rgb(216, 216, 216);
}
 
::-webkit-scrollbar-track {
	background: rgb(221, 221, 221);
}
 
::-webkit-scrollbar-thumb {
	background: rgb(240, 240, 240);
	border: 1px solid rgb(210, 210, 210);
}

#current-bar {
	width: 100%;
	height: 55px;
	background: rgb(240, 240, 240);
	border-bottom: 1px solid rgb(216, 216, 216);

	-moz-box-shadow:    0px 1px 1px 0px rgba(87, 87, 87, 0.03);
  	-webkit-box-shadow: 0px 1px 1px 0px rgba(87, 87, 87, 0.03);
  	box-shadow:         0px 1px 1px 0px rgba(87, 87, 87, 0.03);
}

#current-story-wrap #current-bar {
	top: 50px;
	position: fixed;
}

#sources td, #sources th {
	padding-left: 15px;
}

.search-bar {
	color: #757575;
	background-color: #333333;
	border: 1px solid #2B2B2B;
	border-radius: 0;
}

.search-bar:focus{
	border: 1px solid #2B2B2B;
	box-shadow: none;
	outline: 0 none;
}

.search-button {
	color: #999999;
	background-color: #3F3F3F;
	border: 1px solid #2B2B2B;
	border-radius: 0;
}

.search-button:hover {
	background-color: #2C2C2C;
	border: 1px solid #2B2B2B;
}

#current-bar .btn-sm {
	background-color: rgb(243, 243, 243);
}

#load-more {
	width: 100%; 
	padding: 15px 0; 
	background: rgb(233, 233, 233);
}

ainput {
	margin: 10px 0;
}

#wire-stats h4 {
	color: rgb(94, 94, 94);
	margin-top: 5px;
	margin-bottom: 15px;
}

.stats-cat {
	font-weight: bold; 
	color: rgb(165, 165, 165);
}

.stats-cat.current {
	color: rgb(92, 92, 92);
}

.stats-cat:hover {
	color: #428bca;
	text-decoration: none;

}

#stats-week, #stats-month {
	display: none;
}
