<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">

    	<title>{{ title }}</title>		

    	<link href="assets/bs/css/bootstrap.css" rel="stylesheet">
    	<link href="assets/css/main.css" rel="stylesheet">

	    <!--[if lt IE 9]>
    		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    	<![endif]-->
    	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	    <script type="text/javascript" id="sourcecode">
			$(function()
			{
				// Load first 15 stories.
				//var target = $("#stream");
				//var spinner = new Spinner().spin(target);

				loadMore(0);
			});

			var cat = 1;

			var lastActive = 0;
			var lastStory = 0;

			var storySelect = function(id) {
				title = $('#story-title-'+id).html();
				info = $('#story-info-'+id).html();
				content = $('#story-content-'+id).html();
				link = $('#story-link-'+id).html();

				$("#current-story-link").attr("href", link);
				$('#current-story-title').html(title);
				$('#current-story-info').html(info);
			    $('#current-story-content').html(content);
			    $('#current-story-con').scrollTop(0);
			};

			var loadStory = function(id){

				$('#story-'+id).addClass("active")
				if (id != lastActive){
					$('#story-'+lastActive).removeClass("active")
				}
				lastActive = id;

				$.getJSON("story.php?id="+id, function( data ) {
					$("#current-story-title").html(data.title);
					$("#current-story-date").html(data.date);
					$("#current-story-link").attr("href", data.link)
					$("#current-story-source").html(data.source);
					$("#current-story-content").html(data.content);
					$('#current-story-con').scrollTop(0);
				});
			}

			var loadMore = function(){
				loadStream(lastStory, cat);
				lastStory = lastStory + 15;
			}

			var loadStream = function(start, cat){
				$.get("stream.php?start="+start+"&cat="+cat, function( data ) {
				  $("#stream").append(data);
				});
			}

		</script>
	</head>
	
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		    		<span class="sr-only">Toggle navigation</span>
		    		<span class="icon-bar"></span>
		    		<span class="icon-bar"></span>
		    		<span class="icon-bar"></span>
		    	</button>
		    	<a class="navbar-brand" href="#">nuwire</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav">
		    		<li class="active"><a href="#">All</a></li>
		    		<li><a href="#">National</a></li>
		    		<li class="dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Regional <b class="caret"></b></a>
		    			<ul class="dropdown-menu">
		    				<li><a href="#">British Columbia</a></li>
		    				<li><a href="#">Alberta</a></li>
		    				<li><a href="#">Saskatchewan</a></li>
		    				<li><a href="#">Manitoba</a></li>
		    				<li><a href="#">Ontario</a></li>
		    				<li><a href="#">Quebec</a></li>
		    				<li><a href="#">The Maritimes</a></li>
		    			</ul>
		    		</li>
		    		<li><a href="#">Science</a></li>
		    	</ul>
		    	<form class="navbar-form navbar-right hidden-sm hidden-xs" role="search">
			    		<div class="input-group" style="width: 300px;">
			    			<input type="text" class="search-bar form-control">
			    			<span class="input-group-btn">
			    				<button type="submit" class="btn btn-default search-button"><span class="glyphicon glyphicon-search"></span></button>
			    			</span>
			    	</div>
		    	</form>
		    	<ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
		    		<li class="dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Order by <b class="caret"></b></a>
		    			<ul class="dropdown-menu">
		    				<li><a href="#">Action</a></li>
		    				<li><a href="#">Another action</a></li>
		    				<li><a href="#">Something else here</a></li>
		    				<li class="divider"></li>
		    				<li><a href="#">Separated link</a></li>
		    			</ul>
		    		</li>
		    		<li class="dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			    		<ul class="dropdown-menu">
			    			<li><a href="#">Action</a></li>
			    			<li><a href="#">Another action</a></li>
			    			<li><a href="#">Something else here</a></li>
			    			<li class="divider"></li>
			    			<li><a href="#">Separated link</a></li>
			    		</ul>
		    		</li>
		    	</ul>
		    </div>
	    </nav>
			<div class="main-content row">
				<div class="col-lg-6 scroll-con" style="padding-left: 0; padding-right: 0; background-color: rgb(233, 233, 233);">
			  		<div id="stream">		   
							{% for story in stories %}
						    <div class="list-story" style="background-color: {{ story.color }};">
					        <div style="width: 18px; float: left;"></div>
							<div style="margin-left: 18px; background-color: rgb(252, 252, 252); border-bottom: 1px solid rgb(216, 216, 216);">
								<div id="story-{{ story.id }}" class="list-story-content" onclick="storySelect('{{ story.id }}');"style="">
									<div class="media">
									  <a class="pull-left visible-sm visible-lg visible-md" href="#">
									  	<div style="width: 120px; max-height: 120px; overflow: hidden;">
									    	<img class="media-object" src="{{ story.image }}" alt="...">
									    </div>
									  </a>
									  <div class="media-body">
									    <h4 id="story-title-{{ story.id }}"class="media-heading">{{ story.title }}</h4>
									    <p id="story-info-{{ story.id }}" class="text-muted">
									    	{{ story.date|date("M d Y | h:i A") }} - {{ story.source }}
									    </p>
									  	<p class="list-group-item-text">{{ story.description }}</p>
									  </div>
									</div>
									<!-- <span class="label label-default">Default</span>
									<br/>
									<span class="label label-primary">Primary</span>
									<span class="label label-success">Success</span>
 									-->	
 								</div>
 								<div id="story-content-{{ story.id }}" style="display: none">
 									{{ story.content|raw }}
 								</div>
 								<div id="story-link-{{ story.id }}" style="display: none">
 									{{ story.link }}
 								</div>
							</div>
							</div>
							{% endfor %}
					</div>
					<div id="load-more" class="text-center">
							  	Load More
					</div>
				</div>
				<div id="current-story-con" class="col-lg-6 scroll-con visible-lg">
					<div id="current-bar">
						<div style="padding: 13px 15px;">
						  	<button class="btn btn-default btn-sm" type="button">
						  		<span class="glyphicon glyphicon-edit"></span> Edit
						  	</button>
						  	<a href="{{ story.id }}" class="btn btn-default btn-sm">
						  		<span class="glyphicon glyphicon-star"></span> Favourite
						  	</a>
						  	<button class="btn btn-default btn-sm" type="button">
						  		<span class="glyphicon glyphicon-flag"></span> Flag
						  	</button>
						  	<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
								<span class="glyphicon glyphicon-tag"></span> Add Tag <span class="caret"></span>
								</button>
						</div>
					</div>
					<div id="current-story" style="margin-top: 55px;">
						<a id="current-story-link" href="#"><h3 id="current-story-title"></h3></a>
						<h4 id="current-story-info" class="text-muted"><span id="current-story-date"></span> | <span id="current-story-source"></span></h4>
						<hr>
						<div id="current-story-content"></div>
					</div>
				</div>
		</div>
		<div id="footer">
			<div class="text-center" style="padding: 9px;">
				<span class="text-muted visible-lg visible-md visible-sm">
					© The National University Wire
					&nbsp; &nbsp; 
					About &nbsp;
					Contact &nbsp;
					Report a Bug
				</span> 
			</div>
		</div>

	<script>
		$( "#load-more" ).click(function() {
			loadMore();
		});
	</script>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/bs/js/bootstrap.min.js"></script>
  </body>
</html>