{% extends "admin.html" %}
{% block scripts %}
  <script>
    $(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';     

    //make username editable
    $('.name').editable({url: '{{site_root}}source/update/name'});
    $('.city').editable({url: '{{site_root}}source/update/city'});
    $('.region').editable({
        url: '{{site_root}}source/update/region',
        source: [
        {% for id, value in regions %}
              {value: {{ id }}, text: '{{ value}}' },
        {% endfor %}
           ]
    });
    $('.url').editable({url: '{{site_root}}source/update/url'});

  });
</script>
{% endblock %}
{% block content %}
<div id="current-bar">
  <div style="padding: 13px 15px;">
      <button class="btn btn-default btn-sm" data-toggle="modal" data-target=".bs-modal-lg" type="button">
        <span class="glyphicon glyphicon-edit"></span> New Source
      </button>
  </div>
</div>
<table id="sources" class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Region</th>
			<th>Website</th>
		</tr>
	</thead>
	<tbody>
{% for source in sources %}
	<tr>
		<td><a href="#" class="name" data-type="text" data-placement="right" data-pk="{{ source.id }}">{{ source.name }}</a></td>
		<td><a href="#" class="city" data-type="text" data-placement="right" data-pk="{{ source.id }}">{{ source.city }}</a></td>
		<td><a href="#" class="region" data-type="select" data-placement="right" data-pk="{{ source.id }}" data-value="{{ source.region }}">{{ regions[source.region] }}</a></td>
		<td><a href="#" class="url" data-type="text" data-placement="right" data-pk="{{ source.id }}">{{ source.url }}</a></td>
	</tr>
{% endfor %}
	</tbody>
</table>

<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Source</h4>
      </div>
      <div class="modal-body" style="">
        <form action="{{site_root}}source/new" method="post" role="form">
            <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                  <input name="name" type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                  <input name="city" type="text" class="form-control" id="inputCity" placeholder="City">
                </div>
            </div>
             <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                <input name="region" type="text" class="form-control" id="inputRegion" placeholder="Region">
              </div>
            </div>
             <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                <input name="website" type="text" class="form-control" id="inputWebsite" placeholder="Website">
              </div>
            </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </form>
      </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}