<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">

    	<title>nuwire - {{ title }}</title>		

    	<link href="{{site_root}}assets/bs/css/bootstrap.css" rel="stylesheet">
    	<link href="{{site_root}}assets/css/main.css" rel="stylesheet">
    	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	    <!--[if lt IE 9]>
    		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    	<![endif]-->
    	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    	<script>var site_root = '{{site_root}}';</script>

    	<script src="{{site_root}}assets/bs/js/bootstrap.min.js"></script>

		<script src="{{site_root}}assets/js/wire.js"></script>
		<script src="{{site_root}}assets/js/bootbox.min.js"></script>

		<script>

		var wire;

			$(function(){

				wire = new Wire("#stream", "#current-story", "{{ action }}", "{{ cur_category }}", "{{ query }}", "{{ orderby }}", "{{ dir }}");
				wire.load();

			});

		</script>
	</head>
	
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		    		<span class="sr-only">Toggle navigation</span>
		    		<span class="icon-bar"></span>
		    		<span class="icon-bar"></span>
		    		<span class="icon-bar"></span>
		    	</button>
		    	<a class="navbar-brand" href="{{site_root}}wire">nuwire</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="main-nav nav navbar-nav">
		    	{% for category in categories %}
		    		{% if category.name == cur_category %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                	<a href="{{site_root}}wire/{{ category.name }}">{{ category.name|capitalize }}</a></li>
                {% endfor %}
		    		<li class="dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Regional <b class="caret"></b></a>
		    			<ul class="dropdown-menu">
		    				<li><a href="#">British Columbia</a></li>
		    				<li><a href="#">Alberta</a></li>
		    				<li><a href="#">Saskatchewan</a></li>
		    				<li><a href="#">Manitoba</a></li>
		    				<li><a href="#">Ontario</a></li>
		    				<li><a href="#">Quebec</a></li>
		    				<li><a href="#">The Maritimes</a></li>
		    			</ul>
		    		</li>
		    	</ul>
		    	<ul class="nav navbar-nav navbar-right hidden-sm hidden-xs" style="margin-right: 12px;">
		    		<li class="dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> &nbsp;{{user_name}} </a>
		    			<ul class="dropdown-menu">
		    				<li class="disabled"><a href="{{site_root}}admin"><i class="fa fa-gears"></i> &nbsp; Admin Panel</a></li>
		    				<li class="disabled"><a href="#"><i class="fa fa-cog"></i></span> &nbsp; Account Settings</a></li>
		    				<li class="divider"></li>
		    				<li><a href="{{site_root}}logout"><i class="fa fa-sign-out"></i></span> &nbsp; Logout</a></li>
		    			</ul>
		    		</li>
		    	</ul>
		    	<form class="navbar-form navbar-right hidden-sm hidden-xs" role="search" action="{{site_root}}wire/search" method="get">
			    		<div class="input-group" style="padding-left: 10px; width: 300px;">
			    			<input name="q" type="text" class="search-bar form-control" value="{{ query }}" />
			    			<span class="input-group-btn">
			    				<button type="submit" class="btn btn-default search-button"><span class="glyphicon glyphicon-search"></span></button>
			    			</span>
			    		</div>
		    	</form>
		    	<ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
		    		<li class="dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Order by <b class="caret"></b></a>
		    			<ul class="dropdown-menu">
		    				<li><a href="?sort=date&dir=desc">Newest</a></li>
		    				<li><a href="?sort=date&dir=asc">Oldest</a></li>
		    			</ul>
		    		</li>
		    	</ul>
		    </div>
	    </nav>
			<div class="main-content row">
				<div class="col-lg-6 scroll-con" style="padding-left: 0; padding-right: 0; background-color: rgb(233, 233, 233);">
			  		<div id="stream">		   
							{% for story in stories %}
						    <div class="list-story" style="background-color: {{ story.color }};">
					        <div style="width: 18px; float: left;"></div>
							<div style="margin-left: 18px; background-color: rgb(252, 252, 252); border-bottom: 1px solid rgb(216, 216, 216);">
								<div id="story-{{ story.id }}" class="list-story-content" onclick="wire.changeStory('{{ story.id }}');"style="">
									<div class="media">
									  <a class="pull-left visible-sm visible-lg visible-md" href="#">
									  	<div style="width: 120px; max-height: 120px; overflow: hidden;">
									    	<img class="media-object" src="{{ story.image }}" alt="...">
									    </div>
									  </a>
									  <div class="media-body">
									    <h4 id="story-title-{{ story.id }}"class="media-heading">{{ story.title }}</h4>
									    <p id="story-info-{{ story.id }}" class="text-muted">
									    	{{ story.date|date("M d Y | h:i A") }} - {{ story.source }}
									    </p>
									  	<p class="list-group-item-text">{{ story.description }}</p>
									  </div>
									</div>
									<!-- <span class="label label-default">Default</span>
									<br/>
									<span class="label label-primary">Primary</span>
									<span class="label label-success">Success</span>
 									-->	
 								</div>
 								<div id="story-content-{{ story.id }}" style="display: none">
 									{{ story.content|raw }}
 								</div>
 								<div id="story-link-{{ story.id }}" style="display: none">
 									{{ story.link }}
 								</div>
							</div>
							</div>
							{% endfor %}
					</div>
					<div id="load-more" class="text-center">
						Load More
					</div>

				</div>
				<div id="current-story-con" class="col-lg-6 scroll-con visible-lg">
					<div id="current-story-wrap" style="display: none;">
						<div id="current-bar">
							<div style="padding: 13px 15px;">
								{% if user_rank == 1 %}
							  	<button class="btn btn-default btn-sm" data-toggle="modal" data-target=".bs-modal-lg" type="button">
							  		<span class="glyphicon glyphicon-edit"></span> Edit
							  	</button>
							  	<div class="dropdown" style="display: inline-block;">
								  	<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
										<span class="glyphicon glyphicon-tag"></span> &nbsp;<span id="current-story-category"></span>  &nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
											<li role="presentation" class="dropdown-header">Change Category</li>
					    				{% for category in categories %}
		    								<li><a href="javascript:wire.updateStoryCategory('{{category.id}}', '{{ category.name|capitalize }}');">{{ category.name|capitalize }}</a></li>
		    							{% endfor %}
					    			</ul>
					    		</div>
					    		<button id="delete-story" class="btn btn-default btn-sm" type="button">
							  		<span class="glyphicon glyphicon-trash"></span> Delete
							  	</button>
							  	{% endif %}
							  	<a href="{{ story.id }}" class="btn btn-default btn-sm" disabled>
							  		<span class="glyphicon glyphicon-star"></span> Star
							  	</a>
							  	<button class="btn btn-default btn-sm" type="button" disabled>
							  		<span class="glyphicon glyphicon-flag"></span> Flag
							  	</button>
							</div>
						</div>
						<div id="current-story" style="margin-top: 55px;">
							<a id="current-story-link" href="#"><h3 id="current-story-title"></h3></a>
							<h4 id="current-story-info" class="text-muted"><span id="current-story-date"></span> - <span id="current-story-source"></span></h4>
							<hr>
							<div id="current-story-content"></div>

							<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria=hidden="true">
						  		<div class="modal-dialog modal-lg">
      								<div class="modal-content">
      									<div class="modal-header">
									    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title">Edit Article</h4>
									    </div>
									    <div class="modal-body">
											<form id="edit-story-form" role="form" method="post">
									            <div class="form-group">
									            	<label for="current-story-title-form">Title</label>
									                <input name="title" type="text" class="form-control" id="current-story-title-form" placeholder="Title" value="">
									            </div>
									            <div class="form-group">
									            	<label for="current-story-date-form">Date</label>
									                <div class="input-group">
									                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									                  <input type="text" class="form-control" id="current-story-date-form" placeholder="Date" disabled>
									                </div>
									            </div>
									            <div class="form-group">
													<label for="current-story-desc-form">Description</label>
												    <textarea name="desc" id="current-story-desc-form" class="form-control" rows="3"></textarea>
												</div>
									             <div class="form-group">
									             	<label for="current-story-link-form">URL</label>
									              <div class="input-group">
									                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
									                <input name="link" type="text" class="form-control" id="current-story-link-form" placeholder="URL">
									              </div>
									            </div>
									      </form>
									    </div>
									    <div class="modal-footer">
									    	<button class="btn btn-success" onclick="wire.updateStory();" data-dismiss="modal" aria-hidden="true">Submit</button>
									        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
									    </div>
						    		</div>
						  		</div>
							</div>

						</div>
						<div id="current-story-placeholder">
							there is nothing here.
						</div>
					</div>
				</div>
		</div>


		<!-- <div id="footer">
			<div class="text-center" style="padding: 9px;">
				<span class="text-muted visible-lg visible-md visible-sm">
					© The National University Wire
					&nbsp; &nbsp; 
					About &nbsp;
					Contact &nbsp;
					Report a Bug
				</span> 
			</div>
		</div> -->
	

	<script>

		$('#delete-story').click(function(){
			bootbox.confirm("Are you sure?", function(result) {
				if(result){
					wire.deleteStory();
				}
			}); 
		})

		$( "#load-more" ).click(function() {
			wire.loadMore();
		});


		$('.main-nav > li').click(function (e) {
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');                
        });    

	</script>

	<div class='notifications top-left'></div>

    <!-- Bootstrap core JavaScript -->
  </body>
</html>